@model IEnumerable<WebApplication1.Models.Aluno>

@{
    ViewBag.Title = "Listar";
}

<h2>Listar</h2>

    @Html.ActionLink("Cadastrar novo Aluno", "Create", null, new { @class = "btn btn-outline-success" })

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RA)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RA)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = Model.ToList<WebApplication1.Models.Aluno>().IndexOf(item) }, new { @class = "btn btn-success" }) |
            @Html.ActionLink("Exibir Detalhes", "Exibir", new {  id=Model.ToList<WebApplication1.Models.Aluno>().IndexOf(item) }, new { @class = "btn btn-success" }) |
            @Html.ActionLink("Remover", "Delete", new { id = Model.ToList<WebApplication1.Models.Aluno>().IndexOf(item) }, new { @class = "btn btn-success" })
        </td>
    </tr>
}

</table>
